name: Tests

on:
  push:
    branches:
      - master
    paths-ignore:
      - '*.md'
  pull_request:
    branches:
      - master
    paths-ignore:
      - '*.md'

jobs:
  test:
    name: Tests
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-14]
        go: [ '1.24', '1.25' ]
        exclude:
          # Only latest Go version for Windows and MacOS.
          - os: windows-latest
            go: '1.24'
          - os: macos-14
            go: '1.24'
          # Exclude latest Go version for Ubuntu as Coverage uses it.
          - os: ubuntu-latest
            go: '1.25'
      fail-fast: false
    steps:
      - name: Setup go
        uses: actions/setup-go@v5
        with:
          cache: true
          go-version: ${{ matrix.go }}

      - name: Check out code
        uses: actions/checkout@v4

      - name: Run go test
        run: go test -race ./...

  cover:
    name: Coverage
    runs-on: ubuntu-latest

    env:
      CGO_ENABLED: 1
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          cache: true
          go-version: 1.25

      - name: Test and write coverage profile
        run: go test -coverprofile=coverage.txt -covermode=atomic ./...

      - name: Upload coverage results to Codecov
        uses: codecov/codecov-action@v4
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          slug: nspcc-dev/hrw
          fail_ci_if_error: true
          files: ./coverage.txt
          verbose: true

  lint:
    name: Lint
    uses: nspcc-dev/.github/.github/workflows/go-linter.yml@master

  codeql:
    name: CodeQL
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        language: [ 'go' ]

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Initialize CodeQL
      uses: github/codeql-action/init@v3
      with:
        languages: ${{ matrix.language }}

    - name: Autobuild
      uses: github/codeql-action/autobuild@v3

    - name: Perform CodeQL Analysis
      uses: github/codeql-action/analyze@v3
